/* Coolors Exported Palette - coolors.co/c2d671-81cad9-757d83-e9e9ea-fbfbfb */

/* RGB */
$cl-headerbg: #FFC300;
$cl-mybubble: rgba(255,255,255,0.8);
$cl-text: rgba(0,0,0,1);
$cl-bubblebg: rgba(255,255,255,1);
$cl-mainbg: rgb(192,192,192);
$cl-textlight: $cl-text;
$cl-text-gray: rgba(128,128,128,1);
$cl-border: $cl-text;
$cl-inputbg: rgba(255,255,255,1);
$cl-inputborder: rgba(255,255,255,1);
$cl-mainborder: rgba(255,255,255,1);