.layout-chat {

    .main-content.integration{

        margin-top: -30px;
    
        .apikey-container{
            line-height: 36px;
            vertical-align: middle;
        }

        .row {
            width: 100%;
        }
    }

}